
/* Hoja de estilos para Toast. */


/*
:hover: representa un control cuando el cursor está sobre él.
:focused: representa un control cuando tiene el foco.
:disabled: representa un control deshabilitado.
:pressed: representa un control que ha sido presionado.
:armed: representa un control que ha sido presionado y no ha sido liberado aún.
:selected: representa un control seleccionado.
:indeterminate: representa un control con un estado indeterminado.
:odd: representa un elemento en una lista impar.
:even: representa un elemento en una lista par.
:visited: representa un hipervínculo visitado.
 */


.toast-pane {
    -fx-background-color: transparent;
}

.toast-box {
    -fx-background-color: #5E595F;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #80488F;
    -fx-border-width: 2;
    -fx-padding: 10;
}

.toast-label {
    -fx-text-fill: white;
    -fx-font-size: 18;
}



