

/* Hoja de estilos principal*/

/*
 
#COLOR LILA FLOJO = #f8e7ff
#COLOR LILA MEDIO = #78637C -> MAS FLOJO: #B5A6B8 -> #DDD6DE
#COLOR LILA FUERTE = #80488F
#COLOR GRIS-FONDO = #5E595F
#COLOR AZUL FLOJO = #00a8f3
#COLOR AMARILLO FLOJO = #fff79a
#COLOR AMARILLO FUERTE = #FFCD48
#COLOR VERDE ON = #33f537
#COLOR VERDE PARA LETRAS BOTONES TTK = #26d113

OTROS LILAS FLOJOS.
#EFE4F2 1
#DEC7E4 2
#CDAAD6 3

OTRO TONO DE LILA.
#E8E4F2 1 - puesto en report(sub report)
#CFC7E4 2
#B7AAD6 3

UN ROJO CHILLON PARA BOTON CANCELAR o BORRAR
#D42153

 */

/*
:hover: representa un control cuando el cursor está sobre él.
:focused: representa un control cuando tiene el foco.
:disabled: representa un control deshabilitado.
:pressed: representa un control que ha sido presionado.
:armed: representa un control que ha sido presionado y no ha sido liberado aún.
:selected: representa un control seleccionado.
:indeterminate: representa un control con un estado indeterminado.
:odd: representa un elemento en una lista impar.
:even: representa un elemento en una lista par.
:visited: representa un hipervínculo visitado.
 */


.root {
	-fx-base: #ececec;
	-fx-focus-color: #80488F;
	-fx-accent: #80488F;
	-fx-faint-focus-color: #80488F;
}

/*-- BorderPane --------------------- */

BorderPane {
	-fx-background-color: white;
}

.fondo_border_pane {
	-fx-background-image: url("/recursos/fondo_circulos_lila_1.png");/*FORMA PARA EXPORTAR */
	/*-fx-background-image: url("../recursos/fondo_circulos_lila_1.png"); */
    -fx-background-position: center;
    /*-fx-background-repeat: stretch;*/
    -fx-background-size: cover;
	-fx-background-repeat: no-repeat;
	-fx-background-color: linear-gradient(to right bottom, white, #f5f2f7 , #f5f2f7 , #f8e7ff);
}

/*-- Menu principal --------------------- */
.gridPaneMenu {
	-fx-background-color: #FFCD48;
}

.menu {
	-fx-background-color: #FFCD48;
	-fx-text-fill: black;
}

.menuSeleccionado {
	-fx-background-color: #78637C;
	-fx-font-weight: bold; 
	-fx-font-size: 1.5em;
	-fx-text-fill: white;
}

.menu:hover {
	-fx-background-color: #80488F;
	-fx-text-fill: white;
}


/*-- TextField --------------------- */
.text-field:hover {
	-fx-border-color: #80488F;
}


/*-- TextArea --------------------- */
.text-area:hover {
	-fx-border-color: #80488F;
}


/*-- ListView --------------------- */
.list-view:hover {
	-fx-border-color: #80488F;
	-fx-padding: 0px;
}


/*-- DatePiker --------------------- */
.date-picker:hover {
	-fx-border-color: #80488F;
}

.panelSeparador {
	-fx-background-color: #78637C;
}

/* borde y fondo de los paneles -----------------------------------------------------------------------------------------*/
.panel_border {
	-fx-border-color: #80488F;
	-fx-border-width: 2px;
	-fx-border-radius: 8px;
	/*-fx-background-color: rgba(240, 233, 248, 0.4);*/
	-fx-background-color: rgba(232, 228, 242, 0.4);/* #E8E4F2 1*/
	/*-fx-background-color: rgba(207, 199, 228, 0.3); #CFC7E4 2*/
	/*-fx-background-color: rgba(245, 242, 247, 0.3); #f5f2f7 */
}
/*
OTROS LILAS FLOJOS.
#EFE4F2 1
#DEC7E4 2
#CDAAD6 3

OTRO TONO DE LILA.
#E8E4F2 1
#CFC7E4 2
#B7AAD6 3
	*/
.button {
	-fx-background-color: #78637C;
	-fx-text-fill: white;
}

.button:hover {
	-fx-background-color: #80488F;
	-fx-font-weight: bold;
	-fx-cursor: hand;
}

.boton_rojo:hover  {
	-fx-background-color: #D42153;
	-fx-font-weight: bold;
	-fx-cursor: hand;
}


.label_resaltado:hover {
	-fx-text-fill: #80488F;
	-fx-font-weight: bold; 
	-fx-cursor: hand;
}

.fondo_ventana_degradaddo {
	-fx-background-color: linear-gradient(to right bottom, white, #f5f2f7 , #f5f2f7 , #f8e7ff);
	
}

.fondo_ventana_formulario {
	-fx-background-color: linear-gradient(to bottom, white, #f5f2f7 , #f5f2f7 , #f8e7ff);
	-fx-border-width: 2px;
	-fx-border-radius: 8px;
}

.barra_ventana_formulario {
	-fx-background-color: #FFCD48;
	-fx-background-color: linear-gradient(to top, white, #FFCD48);
}

.fondo_ventana_degradado_masBorde {
	-fx-background-color: linear-gradient(to right, white, #f5f2f7 , #f5f2f7 , #f8e7ff);
	-fx-border-width: 2px;
	-fx-border-color: #80488F;
}

.fondo_ventana_degradado_toRight {
	-fx-background-color: linear-gradient(to right, white, #f5f2f7 , #f5f2f7 , #f8e7ff);
	
}

.fondo_panel_izquierda {
	-fx-background-color: #5E595F;
	
}

.color_texto_negro {
	-fx-text-fill: black;
}

.table-view{
	-fx-padding: 0px;
	-fx-background-color: transparent;
	-fx-border-color: #78637C;
	-fx-border-radius: 8px;
	-fx-border-width: 2px;
	/*#78637C*/
}

.table-view .column-header {

}

.table-view .column-header-background {
	-fx-background-color: linear-gradient(to bottom, #80488F, #f8e7ff);
	-fx-background-radius: 8px, 8px 0 0;
	-fx-background-inset: 0 0 0 0;
}

.table-view .column-header, .filter {
	-fx-background-color: transparent;
	-fx-size: 50px;
}

.table-view .column-header .label {
	-fx-text-fill:black
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color:  #80488F;
    -fx-text-fill: white;
}

/*•	Estilos letras de la celda cuando se le pasa el ratón */
.table-view .table-row-cell:hover {
    -fx-background-color: #DDD6DE;
    -fx-text-fill: black;
    -fx-text-background-color: black;
    -fx-font-weight: bold; 
}

/*Estilos de letra en fila seleccionada cuando pierde el foco*/
.table-view .table-row-cell:selected {
    -fx-background-color: #80488F;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-background-color: white; 
}

